@model AppWebDespachos.Models.Cliente

@{
    ViewData["Title"] = "Alta cliente";
}
<h1>ALTA CLIENTES</h1>
<h3 class="fw-bold text-center">Datos del nuevo cliente</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Razon_social" class="control-label">Razón social</label>
                <input asp-for="Razon_social" class="form-control" />
                <span asp-validation-for="Razon_social" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuit" class="control-label">CUIT</label>
                <input asp-for="Cuit" class="form-control" />
                <span asp-validation-for="Cuit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Dirección de correo electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Número de celular (sin 0 ni 15)</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div> 
            <div class="form-group d-flex  m-2">
                <button type="submit" class="btn btn-success me-1">CREAR</button>
                <a asp-action="Index" class="btn btn-secondary me-1">Regresar a la lista de Clientes</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
